@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.editor .CodeMirror {
  height: 100%;
  padding: 0 8px;
  background-color: transparent;
}

.editor .CodeMirror-gutters {
  display: none;
}

.preview .emoji {
  display: inline-block;
  margin-top: -8px;
}

.toc-item img {
  height: 16px;
  display: inline-block;
}
